.card{
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
}

.blue{
  background-color: #2864b3;
}

.green{
  background-color: #2bce69;
}

.red{
  background-color: #ce1a1a;
}

.yellow{
  background-color: #dfa831;
}

.purple{
  background-color: #972bb3;
}

.pink{
  background-color: #dd3282;
}